<span *ngIf="textLike">
  Liked by
  <span class="post__name--underline cursor-pointer" (click)="listLike($event)">
    {{ textLike }}
  </span>
</span>

<div id="likeDetailPost">
  <div (click)="outLike()" id="overBg"></div>

  <div class="like_user flex items-center" style="height: 420px">
    <div class="title__like-top">
      <div class="row container">
        <header>
          Likes
          <svg
            (click)="closeDialog()"
            class="close"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </header>
      </div>
    </div>

    <div class="box__like">
      <div class="list_numberlike">
        <div class="information">
          <div class="flex justify-between items-center">
            <app-detail [userLike]="userLike"></app-detail>

            <button class="people_like-button btn btn-primary">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
