.like_user {
  z-index: 30;
  display: none;
  position: fixed;
  top: 20%;
  left: 40%;
  height: 400px;
  width: 350px;
  border: 1px solid rgb(216, 211, 211);
  border-radius: 10px;
  background-color: #fff;
  transition: 5s ease-in-out;
}
.list_numberlike {
  justify-content: center;
}
.box__like {
  height: 338px;
  overflow: hidden auto;
}
.information {
  padding: 20px;
}
.people_like__suggestion-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 2px;
}
.title__like-top {
  border-bottom: 1px solid rgb(165, 157, 157);
}
.people_like__suggestion-info span {
  font-size: 13px;
}
.people_like__suggestion-info a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.title_like {
  text-align: center;
}
button.people_like-button.btn.btn-primary {
  font-size: 13px;
}
#overBg {
  /* background-color:rgb(0, 0, 0) !important;
    opacity: 0.5 !important; */
  height: 100%;
  inset: 0;
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  /* position:fixed; */
}
.people_like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: var(--link);
  flex-shrink: 0;
}

.like_user header {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #bfbfbf;
  position: relative;
}

/* The Close Button */
.close {
  color: #383838;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 2%;
  top: 25%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}