<span *ngIf="textLike">
  Liked by
  <span class="post__name--underline cursor-pointer" (click)="listLike($event)"
    >{{ textLike }}
  </span>
</span>
<div (click)="outlike()" id="overBg"></div>

<div class="like_user flex items-center" *ngIf="userLike" style="height: 420px">
  <div class="title__like-top">
    <div class="row container">
      <div class="col-1"></div>
      <div class="col-10">
        <h6 class="title_like">Likes</h6>
      </div>
      <div class="col-1">
        <a
          (click)="clearBox($event)"
          id="clearBox__likes"
          class="flex justify-end mr-4"
        >
          <svg
            aria-label="Đóng"
            width="24"
            height="24"
            viewBox="0 0 48 48"
            style="margin-bottom: 0.5rem"
          >
            <path
              clip-rule="evenodd"
              d="M41.1 9.1l-15 15L41 39c.6.6.6 1.5 0 2.1s-1.5.6-2.1 0L24 26.1l-14.9 15c-.6.6-1.5.6-2.1 0-.6-.6-.6-1.5 0-2.1l14.9-15-15-15c-.6-.6-.6-1.5 0-2.1s1.5-.6 2.1 0l15 15 15-15c.6-.6 1.5-.6 2.1 0 .6.6.6 1.6 0 2.2z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <app-user-like></app-user-like>
</div>
