<div class="body" *ngIf="verify == true">
  <div class="activation">
    <h1>Successful Activation</h1>
    <div class="success-animation">
      <svg
        class="checkmark"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 52 52"
      >
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path
          class="checkmark__check"
          fill="none"
          d="M14.1 27.2l7.1 7.2 16.7-16.8"
        />
      </svg>
    </div>
    <p>
      Thank you for trusting and choosing us, hope you will have a good
      experience at PolyInsta
    </p>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a routerLink="/login" class="btn btn-sm animated-button victoria-two"
        >Log in</a
      >
    </div>
  </div>
</div>
