<div class="box__like">
  <div class="list_numberlike">
    <div class="information">
      <div class="side-menu__suggestion mt-4 ml-3 justify-between">
        <a routerLink="/profile/" class="side-menu__suggestion-avatar">
          <img src="assets/default-user.png" alt="User Picture" />
          <span>name</span>
        </a>
        <button
          class="people_like-button btn btn-primary"
          style="text-align: right"
        >
          Follow
        </button>
      </div>
    </div>
  </div>
</div>
